.UpgradeComp{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 10rem;
}

.unabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
    filter: grayscale(80%);
  }
  